<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SvgScript</title>
	<style type="text/css">

		* {
			margin: 0;
			padding: 0;
			border: 0;
			box-sizing: border-box;
		}

		body {
			font-family: arial, sans-serif;
			background-color: rgb(200, 200, 200);
		}

		.icon {
			display: inline-block;
			margin: 1em;
			min-height: 200px;
			min-width: 150px;
			border: 1px solid white;
			vertical-align: top;
			padding: 1em;
		}

		.icon svg {
			background-color: white;
			background-image:
			linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD 100%),
			linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD 100%);
			background-size: 20px 20px;
			background-position: 0 0, 10px 10px;
		}
	</style>
</head>
<body>

<header>
	<nav>
		<h1>Icons</h1>
	</nav>
</header>


<div id="icons">
	{{content}}
</div>

<script>
		{{scripts}}
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io('http://localhost')

	socket.on('icon', function (data) {
		var iconContainer = document.querySelector('#' + data.fileName)

		iconContainer.innerHTML = data.content
	})
</script>
</body>
</html>
