<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SvgScript</title>
	<meta name=viewport
	      content="initial-scale=0.5, minimum-scale=0.5">

	<style type="text/css">

		* {
			margin: 0;
			padding: 0;
			border: 0;
			box-sizing: border-box;
		}

		body {
			font-family: arial, sans-serif;
			background-color: rgb(180, 180, 180);
		}

		#wrapper {
			padding: 1em 2em
		}

		header {
			margin-bottom: 2em;
		}

		#logo {
			display: inline-block;
			margin-right: 2em;
		}

		button {
			padding: 0.2em 1em;
			border: 1px solid gray;
			border-radius: 0.2em;
			cursor: pointer;
		}

		.icon {
			display: inline-block;
			margin: 0 1em 1em 0;
			border: 1px solid rgb(200, 200, 200);
			vertical-align: top;
			padding: 1em;
			background-color: rgb(190, 190, 190);
		}

		.icon svg {
			background-color: white;
			background-image: linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD 100%),
			linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD 100%);
			background-size: 20px 20px;
			background-position: 0 0, 10px 10px;
		}
	</style>
</head>
<body>

<div id="wrapper">

	<header>
		<nav>
			<h1 id="logo">Icons</h1>
			<button id="toggleGrid">Grid</button>
		</nav>
	</header>


	<div id="icons">
		{{content}}
	</div>

</div>

<script>
		{{scripts}}
</script>
<script src="/socket.io/socket.io.js"></script>
<script>

	var socket = io('http://localhost'),
	    gridVisibility = false

	socket.on('icon', function (data) {
		var iconContainer = document.querySelector('#' + data.fileName)

		iconContainer.innerHTML = data.content
	})

	function toggleGrid () {

		var svgs = document.querySelectorAll('svg'),
		    gridContainers,
		    i

		if (gridVisibility) {

			gridContainers = document.querySelectorAll('svg .grid')

			for (i = 0; i < gridContainers.length; i++)
				gridContainers[i].remove()

			gridVisibility = false
		}
		else {
			for (i = 0; i < svgs.length; i++) {
				!function () {

					var gridFragment = ['g.grid', {
						    style: {
							    fill: 'rgb(255, 255, 200)',
							    stroke: 'red',
							    'stroke-width': 0.1}},
						    ['line', {
							    style: {
								    'stroke-width': 1},
							    x1: 0,
							    y1: -100,
							    x2: 0,
							    y2: 100}
						    ],
						    ['line', {
							    style: {
								    'stroke-width': 1},
							    x1: -100,
							    y1: 0,
							    x2: 100,
							    y2: 0}
						    ]
					    ],
					    lines = [],
					    a

					// Horizontal lines
					for (a = 0; a < 200; a++)
						lines.push(
								['line', {
									x1: -100 + a,
									y1: -100,
									x2: -100 + a,
									y2: 100}]
						)


					// Vertical lines
					for (a = 0; a < 200; a++)
						lines.push(
								['line', {
									x1: -100,
									y1: -100 + a,
									x2: 100,
									y2: -100 + a}]
						)


					shaven([svgs[i], gridFragment.concat(lines)], 'http://www.w3.org/2000/svg')
				}()
			}

			gridVisibility = true
		}
	}

	document
			.querySelector('#toggleGrid')
			.addEventListener('click', function (event) {
				toggleGrid()
			})

</script>
</body>
</html>
