* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: rgb(180, 180, 180);
}

#wrapper {
    padding: 1em 2em
}

header {
    margin-bottom: 2em;
}

#logo {
    display: inline-block;
    margin-right: 2em;
}

button {
    padding: 0.2em 1em;
    border: 1px solid gray;
    border-radius: 0.2em;
    cursor: pointer;
}

.icon {
    display: inline-block;
    margin: 0 1em 1em 0;
    border: 1px solid rgb(200, 200, 200);
    vertical-align: top;
    padding: 1em;
    background-color: rgb(190, 190, 190);
}

.icon svg {
    background-color: white;

    background-image: linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD 100%), linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD 100%);

    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
